@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 100vh;
}
* {
  font-family: "Oswald", sans-serif;
}
.text-start {
  text-align: center;
}
.input-width {
  min-width: 400px;
}

.danger-error {
  color: red;
  font-weight: 600;
}

header {
  min-width: 100%;
}

.theme-icon-nav {
  cursor: pointer;
}

.user-card {
  min-width: 385px;
  line-height: 3;
  margin-right: 15px;
  max-height: 350px;
  position: sticky;
  top: 80px;
}

.layout-container {
  padding: 0 30px;
}

.mail-container {
  margin-inline: auto;
  min-width: 65%;
}

.textarea {
  min-height: 250px;
  max-height: 400px;
}

.card-mails {
  margin-top: 10px;
}

.container-table {
  width: 100%;
  margin-bottom: 50px;
}

.input-width {
  width: 100px !important;
}

.status {
  display: flex;
  align-items: center;
  width: 66px;
  gap: 20px;
}

.user-info {
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.6);
  }
}

.acc-info {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.card-user {
  margin-top: 20px;
}

.user-container {
  margin-inline: auto;
  min-width: 55%;
}

.no-info {
  color: red;
}

.warning {
  color: red;
}

.your {
  color: green;
  font-size: 20px;
}

.theme-icon {
  cursor: pointer;
}

.language {
  text-align: center;
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
}

.auth-header {
  position: absolute;
  right: 0;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
