@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 100vh;
}
* {
  font-family: "Oswald", sans-serif;
}

.input-width {
  min-width: 400px;
}

.danger-error {
  color: red;
  font-weight: 600;
}

header {
  min-width: 100%;
}

.theme-icon {
  cursor: pointer;
}

.user-card {
  min-width: 385px;
  line-height: 3;
  margin-right: 15px;
  max-height: 300px;
  position: sticky;
  top: 80px;
}

.layout-container {
  padding: 0 30px;
}

.mail-container {
  margin-inline: auto;
  min-width: 65%;
}

.textarea {
  min-height: 250px;
  max-height: 400px;
}
